In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [113]:
Books = []
for i in range(1,51):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    r = requests.get(url).text
    soup = BeautifulSoup(r, "html.parser")
    ol = soup.find('ol')
    article = ol.findAll('article', class_= 'product_pod')
    for i in article:
      image = i.find('img')
      title = image.attrs['alt']
      stars = i.find('p')
      stars = stars['class'][1]
      price = i.find('p', class_ = 'price_color').text.replace('Â','')
      price = float((price)[1:])
      Books.append([title,price,stars])

Books_df = pd.DataFrame(Books,columns=['Title','Price','Stars Rating'])
Books_df

                                                 Title  Price Stars Rating
0                                 A Light in the Attic  51.77        Three
1                                   Tipping the Velvet  53.74          One
2                                           Soumission  50.10          One
3                                        Sharp Objects  47.82         Four
4                Sapiens: A Brief History of Humankind  54.23         Five
..                                                 ...    ...          ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53          One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06         Four
997  A Spy's Devotion (The Regency Spies of London #1)  16.97         Five
998                1st to Die (Women's Murder Club #1)  53.98          One
999                 1,000 Places to See Before You Die  26.08         Five

[1000 rows x 3 columns]

In [117]:
Books_df.describe()

            Price
count  1000.00000
mean     35.07035
std      14.44669
min      10.00000
25%      22.10750
50%      35.98000
75%      47.45750
max      59.99000